body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
}

.container {
    max-width: 1200px; /* Adjusted to a more reasonable width */
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #f39c12;
}

.filters-section {
    background-color: #444;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.filters label {
    margin-right: 10px;
    white-space: nowrap;
}

.filters input, .filters select {
    padding: 5px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #444;
    color: #fff;
}

.filters input::placeholder {
    color: #999;
}

.filters select {
    height: auto;
}

.category-filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.unselect-button {
    padding: 5px 10px;
    border: 1px solid #555;
    background-color: #f39c12;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 5px;
    font-size: 14px;
}

.unselect-button:hover {
    background-color: #e67e22;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #444;
}

th, td {
    border: 1px solid #555;
    padding: 10px;
    text-align: left;
    cursor: pointer;
}

th {
    background-color: #555;
    color: #fff;
    cursor: pointer;
}

th button {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    padding: 0;
}

tbody tr {
    transition: background-color 0.3s;
}

tbody tr:hover {
    background-color: #b4a5a5 !important; /* Use !important to ensure the hover effect is applied */
}

tr {
    background-color: #333;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 5px;
    padding: 8px 16px;
    border: 1px solid #555;
    background-color: #f39c12;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

.pagination button:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
    color: #555;
}

.pagination span {
    margin: 0 10px;
}

button {
    margin-bottom: 20px;
    padding: 10px 20px;
    border: 1px solid #555;
    background-color: #f39c12;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

button:hover {
    background-color: #e67e22;
}

.bulkDeleteButton {
    margin-bottom: 20px;
    padding: 10px 20px;
    border: 1px solid #555;
    background-color: #dc3545;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    margin-left: 10px;
}

.bulkDeleteButton:hover {
    background-color: #c82333;
}

.bulkDeleteButton:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
    color: #555;
}